/*
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;*/
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
  /*
  padding: 20px;
}

body, .loading-container {
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
*/


.loading-container {
	background-color: #333;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	text-align: center;
}
	.loading-container .spinner-border {
		position: relative;
		top: 40%;
	}

.statuses {
  padding: 10px;
}

.connection {
  max-width: 400px;
  margin: 0 auto;
}

.status-pill {
  cursor: pointer;
}

#alerts {
  position: absolute;
  top: 10px;
  right: 10px;
}

.print-alert {
  display: none;
}

.new-order-alert {
  cursor: pointer;
  background: red;
  animation: colorfade 0.5s infinite;
  animation-direction: alternate;
  color: #FFF;
}

.waiting-for-orders {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  display: none;
}

#report-btns {
  float: right;
}
  #report-btns button {
    margin-right: 10px;
  }

.dropdown-item {
  cursor:  pointer;
}

@keyframes colorfade {
  from {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;

  }
  to {
    color: #721c24;
    background-color: #ff8d97;
    border-color: #ff8692;
  }
}
